.image {
    background-size: cover;
    background-position: center center;
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('../../../assets/img/Coca-Cola-Big.png');
}

.mat-stroked-button {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 300px;
    background: #e61a27;
    color: #fff;
    transform: translateX(-50%);
}