.auth-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.auth-sidenav {
    width: 20%;
    padding: 0 8px;
    background-color: #E41E2B;
}

.auth-content {
    padding: 10px;
    /* background-color: #292929; */
}