<mat-nav-list>
    <div class="logo"><img src="../../../assets/img/coca-cola.png" /></div>
    <a mat-list-item class="auth-list-item" [routerLink]="['/home']">Home</a>
    <a mat-list-item class="auth-list-item" [routerLink]="['/profile/',this.myID]">Profile</a>
    <a mat-list-item class="auth-list-item" [routerLink]="['/scan']">Scan code</a>
    <div *ngIf="this.role === 'Admin'">
        <a mat-list-item class="auth-list-item" *ngIf="showAdminRoutes()" [routerLink]="['/report']">Report</a>
        <a mat-list-item class="auth-list-item" *ngIf="showAdminRoutes()" [routerLink]="['/create']">Create</a>
        <a mat-list-item class="auth-list-item" [routerLink]="['/search']">Search</a>
    </div>
</mat-nav-list>