.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

[hidden] {
    display: none !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

form {
    margin: 0 auto;
    width: 250px;
}

mat-stroked-button {
    text-align: center;
}