.example-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.example-container {
    width: 50%;
    margin-top: 2%;
    margin-left: 25%
}

.mat-focused .mat-form-field-label {
    color: rgb(3, 2, 2) !important;
}

.mat-form-field-underline {
    /*change color of underline*/
    background-color: #E41E2B !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #E41E2B !important;
    ;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}