<form (ngSubmit)="this.createCustomer(customerName.value); customerName.value =''">
    <div class="form-group">
        <label for="exampleFormControlInput1">Customer:</label>
        <input #customerName class="form-control" placeholder="Customer name...">
    </div>
    <button mat-stroked-button color="warn" type="submit">Create customer</button>
</form>
