.deleteButton {
    width: 20%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}