/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body {
    margin: 0;
    padding: 0;
}


/* for dialog pop-up */

.btn-dialog-close {
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}


/* mat-confirm-dialog (customised dialog) */

.confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container {
    margin: 5px 5px 5px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container #close-icon {
    margin-left: auto;
    order: 2;
    font-weight: bolder;
    color: #E41E2B;
}

.confirm-dialog-container #close-icon:hover {
    cursor: pointer;
}

.confirm-dialog-container #no-button {
    height: 50px;
    width: 49.8%;
    background-color: #E41E2B;
    color: white;
    border-radius: 0px;
}

.confirm-dialog-container #yes-button {
    height: 50px;
    width: 49.8%;
    background-color: #E41E2B;
    color: white;
    border-radius: 0px;
    margin-left: 0.4%;
}

.confirm-dialog-container span.content-span {
    padding: 35px 16px;
    text-align: center;
    font-size: 20px;
}

.mat-checkbox-layout {
    margin-bottom: 0;
}

.mat-icon-button:focus {
    outline: none;
}

.auth-list-item:focus {
    outline: none;
}

.ngb-tab:focus * {
    outline: none;
}

.ng-template:focus {
    outline: none;
}