.videoWindow {
  width: 400px;
  margin: auto;
  border: 5px solid rgb(176, 0, 0);
  padding: 10px;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.invalidInput{
  color: red;
}

.itemMessage {
  color: black;
  background-color: white;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}

.image {
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 20vh;
  z-index: -10;
  background-image:url('../../../../assets/img/coca-cola-prizes.jpg');

  position:fixed;
  left: 0px;
  bottom:0px;
  background-color:pink;
  width:100%;

}