div.container{
  margin: 0px 40px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;    
}

.full-line {
  width: 100%;
  }

.half-line {
  max-width: 35%;
  min-width: 10%;
}

  .add-bottom-padding{
      padding-bottom: 10px;
  }
  /* radio group */
mat-radio-group mat-radio-button{
  margin-left: 5px;
}

.button-row button{
  margin: 5px;
}

.checkbox {
  margin-right: 10px;
}
