body {
    padding-top: 68px;
    padding-bottom: 50px;
}

.list-info {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-info li {
    width: 100%;
    height: 60px;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
}

.list-info li p,
.list-info li label {
    padding-bottom: 0;
    margin-bottom: 0;
}

.list-info li label {
    display: inline-flex;
    width: 100%;
    max-width: 300px;
    font-weight: 700;
}

.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}