table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #212529 !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #212529 !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #212529 !important;
    ;
}