<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Outlet:</label>
        <input #outletName class="form-control" placeholder="Outlet name...">
    </div>
    <div class="form-group" #outletID>
        <label for="exampleFormControlSelect1">Select customer:</label>
        <div>
            <select #customer class="form-control">
                <option *ngFor="let customer of this.customers">
                    <p>{{customer.name}}</p>
                </option>
            </select>
        </div>
    </div>
</form>
<button mat-stroked-button color="warn" (click)="this.createOutlet(outletName.value,customer.value)">Create
    outlet</button>