.formDiv {
  width:25%;
  float: left; 
  margin-right: 10px;
}

.tableDiv {
  width: 74%;
  display: inline-block; 
  height: 100%;
}

.dashboardsDiv {
  width: 100%;
  display: flow-root;
  min-height: 250px;
}
